# Configuration Django
SECRET_KEY=django-insecure--hdp5_%o4n78eu$ojs1_6$(1&aaf5(2#*qk3nux@t73i5%(gvv
DEBUG=True

# Configuration Gemini AI
# Obtenez votre clé sur https://aistudio.google.com/app/apikey
GEMINI_API_KEY=votre_cle_api_ici
